.cart-container-out{
    width: 100%;
    padding: 50px 50px 50px 100px;
}

.cart-container-out h2{
    font-size: 35px;
    margin-bottom: 15px;
}

.cart-container-in{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.left-side-cart{
    padding-right: 70px;
}

.right-side-cart{
  padding: 30px 10px;
  background-color: #fafafa;   
  box-shadow: 0px 0px 25px rgba(39, 39, 39, 0.15); 
  max-height: 250px; 
  font-size: 18px;
}

.summary-item{
    margin-top: 35px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.product-in-cart{
    display: flex;
    height: 250px;
    border-top: 1px solid rgb(39,39,39);
    padding: 7px 0px;
}

.product-in-cart img{
    cursor: pointer;
}

.total{
    font-size: 22px;
    font-weight: 500;
}

.pagar{
    margin-top: 25px;
}

.product-details-cart{
    width: 300px;
    padding: 45px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-product-wq{
    width: 150px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
}

.cart-product-name{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.no-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.delete-product{
    align-self: center;
}

.cont-compr{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    width: 200px;
}

@media screen and (max-width: 480px){
    .cart-container-out{
        padding: 10px 5px;
    }
    .cart-container-out h2{
        font-size: 28px;
    }
    .cart-container-in{
        display: flex;
        flex-direction: column;
    }
    .product-details-cart{
        padding: 0px;
        display: flex;
        flex-direction: column;
        width: 100px;
    }
    .product-in-cart{
        height: 100px;
        justify-content: space-around;
    }
    .cart-product-name{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .quantity{
        margin-left: 0px;
    }
    .quantity p{
        font-size: 18px;
    }
    .quantity img{
        width: 15px;
    }
    .quantity i{
        margin: 0px;
    }
    .price-product-wq{
        width: auto;
        font-size: 18px;
    }
    .cart-delete-item{
        width: 25px;
        position: unset;
        align-self: center;
    }
    .left-side-cart{
        padding: 0px;
    }
    .right-side-cart{
        margin-top: 20px;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    .no-products{
        margin-top: 35px;
        padding: 0px 30px;
    }
    .cont-compr{
        margin-top: 50px;
    }
}

