.product-categories{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 0px;
}

.product-category{
    font-size: 20px;
    margin: 10px 10px;
    padding: 4px 30px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.product-category:hover{
    transform: translateY(3px);
    box-shadow: 2px 2px 15px rgba(109, 141, 173, 0.25);
    box-shadow: inset 1px 1px 5px rgba(109, 141, 173, 0.15);
}

.product-category p{
    text-transform: capitalize;
    line-height: 20px;
    color: rgba(5,4,47,1);
}

.big-categories-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px 150px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 10px;
    margin: 30px 0px;
}

.big-categories-container a:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
}

.big-card-category{
    border-radius: 25px;
    box-shadow: 2px 2px 15px rgba(109, 141, 173, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.big-card-category:nth-child(1){
    background-image: url(../../assets/pantalones.png);
}
.big-card-category:nth-child(2){
    background-image: url(../../assets/remeras.png);
}
.big-card-category:nth-child(3){
    background-image: url(../../assets/zapatillas.png);
}
.big-card-category:nth-child(4){
    background-image: url(../../assets/camisas.png);
}
.big-card-category:nth-child(5){
    background-image: url(../../assets/medias.png);
}

.big-card-category p{
    color: black;
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 2px 2px rgba(39,39,39,0.15);
    transition: 200ms;
}

.big-card-category:hover p{
    transform: scale(1.2)
}

@media screen and (max-width: 480px) {
    .big-categories-container {
      display: flex;
      flex-direction: column;
    }
    .big-card-category{
        height: 150px;
    }
    .big-card-category p{
        font-size: 30px;
    }
  }