.header {
    height: 60px;
    display: flex;
    width: 100%;
    padding: 8px 20px;
    background-image: linear-gradient( 110.8deg, rgba(5, 4, 47, 1) -1.8%, rgb(41, 2, 92) 114.5%);
    color: #fafafa;
}

.nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.brand-place{
    display: flex;
}

.brand {
    height: auto;
    line-height: 45px;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}

.sub-brand{
    font-size: 14px;
    margin-left: 3px;
    align-self: flex-end;
}

.text-link{
    height: fit-content;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 15px;
    margin-right: 5px;
}

.text-link:hover{
    color: #29025c;
    background-color: #fafafa;
    box-shadow: 4px 24px 60px rgba(41, 2, 92, 0.25);
}

.active{
    color: rgb(41, 2, 92) !important;
    background-color: #fafafa;
    box-shadow: 4px 24px 60px rgba(41, 2, 92, 0.25);
    border-radius: 15px;
}