.list-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    grid-gap: 25px;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .list-items{
        grid-template-columns: repeat(2, 1fr);
    }
}